*{
    margin: 0;
    padding: 0;
}
body{
    background: #fff;
    font-size: 14;
    font-family: 'Poppins', sans-serif;/*Text imported form goole */ 
}
.container{
    width: 80%;
    margin: 50px auto;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
    border-radius: 10px 10px 10px 10px;
}
.container-box{
    background: #fff;
    display: flex;
}
.container-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.container-right{
    flex-basis: 40%;
    padding: 40px ;
    background:cornflowerblue;
    color: #fff;
}
h1{ 

    padding-right: 100px;
    margin-bottom: 10px;
}
.container p{
    position: relative;
    margin-bottom: 40px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom:5px ;
}
textarea{ /*this object for feedback Box */
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block ;
    color: cornflowerblue;
}
button{
    background: cornflowerblue;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 36px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3) ;
}
.container-left h3{
    color:cornflowerblue;
    font-weight: 600;
    margin-bottom: 30px;
}
.container-right h3{ 
    font-weight: 600;
    margin-bottom: 30px;
}
tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}